.corpo__descritivo {
    width: 60%;
    background-color: rgb(248, 248, 234);
    padding: 1.5rem;
    border-radius: 12px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    
}

.corpo__paragrafo {
    text-align: justify;
    overflow-wrap: break-word; /* força quebra de palavras longas */
}

.corpo__titulo {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: #333;
}

/* ######################################################################################################################################################### */

.conteudo {
    justify-content: center;
    align-items: center;
}

.conteudo__botaoTitulo {
    color: white;
    background-color: transparent;
    border: none;
    font-size: clamp(1.5rem, 4vw, 2.5rem); /* Fonte responsiva */
    letter-spacing: 1px;
    text-shadow: 3px 3px 0 black;
}

.conteudo__botaoTitulo:hover {
    color: #ffcc33;
}

.conteudo__imagem {
    width: 50%;
}

/* ######################################################################################################################################################### */

/* Define tamanho fixo e responsivo para as imagens do carrossel */
.carousel-item img {
    padding: 10%;
    width: 100%;
    max-width: 500px;
    height: auto;
    max-height: 500px;
    object-fit: contain;
    margin: auto;
    display: block;
}

/* ######################################################################################################################################################### */

.botao { /*botão menu*/
    position: initial;
    color: white;
    text-decoration: none;
    outline: none;
}

.botao:hover{ /*botão menu*/
    color: #ffcc33;
}

.custom__botao{ /*altera a cor e tamanho do botao do formulário*/
    font-size: clamp(0.8rem, 2.5vw, 1.2rem); 
    width: clamp(6rem, 20vw, 10rem);
    /* width: 10rem; */
    background: linear-gradient(135deg, #f43900, #ff6f00);
    border: 1px solid rgb(180, 19, 19);
}


.custom__botao:hover{ /*altera a cor e o foco do botao do formulário*/
    background: green;
    box-shadow: 0px 4px 10px #ff6f00;
}

.custom__shadow:focus{ /*altera a cor quando foco dos campos do formulário*/
    box-shadow: 0px 4px 10px #ff6f00;
    border: #ff6f00;
}

.form-check-input:checked{ /*altera a cor quando marks são selecionados formulário*/
    background-color: #ff6f00;
    border-color: #ff6f00;
    box-shadow: 0px 4px 10px #ff6f00;
}


/* ######################################################################################################################################################### */

.rodape {
    display: flex;
    gap: 15px;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.rodape__duplo {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.rodape__botao {
    color: white;
    text-decoration: none;
    outline: none;
}

.rodape__botao:hover {
    color: #ffcc33;
}

/* ######################################################################################################################################################### */
