/*************************** Base ****************************************************/

/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("../img/museu.jpg");
    background-size: contain;
    font-family: Arial, Helvetica, sans-serif;
    font-family: 16px;
} */

/**************************************************************************************/
/**************************** Layout **************************************************/
/* .layout-cabecalho {
    padding: 3rem;
    text-align: center;
    justify-content: center;
    color: white;
    background: linear-gradient(135deg, #f43900, #ff6f00);
}

.layout-cabecalho h1 {
    font-size: 2.5rem;
    letter-spacing: 1px;
    text-shadow:  3px 3px 0 black;
}

.layout-menubar {
    width: 100vw;
    justify-content: center;
    text-align: center;
    background-color: #d63200;
    font-size: 1.5rem;
} 

.layout-rodape {
    margin-top: 10px;
    padding: 20px;
    width: 100vw;
    height: 400%;
    color: white;
    background: linear-gradient(135deg, #f43900, #ff6f00);
    font-size: 0.9rem;
} */


/**************************************************************************************/
/******************************* Components *******************************************/
 /*botão menu*/
/* .botao {
    color: white;
    
    text-decoration: none;
    outline: none;
} */
 /*botão menu*/
/* .botao:hover{
    color: #ffcc33;
} */
/*altera a cor e tamanho do botao do formulário*/
/* .custom__botao{ 
    width: 10rem;
    background: linear-gradient(135deg, #f43900, #ff6f00);
    border: 1px solid rgb(180, 19, 19);
} */

 /*altera a cor e o foco do botao do formulário*/
/* .custom__botao:hover{
    background: green;
    box-shadow: 0px 4px 10px #ff6f00;
} */
 /*altera a cor quando foco dos campos do formulário*/
/* .custom__shadow:focus{
    box-shadow: 0px 4px 10px #ff6f00;
    border: #ff6f00;
} */

 /*altera a cor quando marks são selecionados formulário*/
/* .form-check-input:checked{
    background-color: #ff6f00;
    border-color: #ff6f00;
    box-shadow: 0px 4px 10px #ff6f00;
} */

/* .rodape {
    display: flex;
    gap: 15px; 
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.rodape__duplo {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.rodape__botao {
    color: white;
    text-decoration: none;
    outline: none;
}

.rodape__botao:hover {
    color: #ffcc33;
} */

/**************************************************************************************/
