.layout-cabecalho {
    padding: 3rem;
    text-align: center;
    justify-content: center;
    color: white;
    background: linear-gradient(135deg, #f43900, #ff6f00);
}

.layout-cabecalho h1 {
    font-size: 2.5rem;
    letter-spacing: 1px;
    text-shadow: 3px 3px 0 black;    /* Dá o efeito 3d ao texto*/
}

.layout-menubar {
    width: 100vw;
    justify-content: center;
    text-align: center;
    color: white;
    background-color: #d63200;
    font-size: 1.5rem;
    box-shadow: 0 4px 12px rgba(0,0,0,0.4), 0 1.5px 0 #b32400 inset;
}  

.layout-corpo {
    margin: auto;
    padding: 3rem;
    height: 100vh;
    flex: 1;
    justify-content: center;
    align-items: center;
    
    background: linear-gradient(rgba(255, 111, 0, 0.4), rgba(255, 111, 0, 0.4)), /* filtro alaranjado */
        url(../img/back_sobre.jpg); /* imagem de fundo */

    opacity: 0.9;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.layout-rodape {
    margin-top: auto;
    padding: 20px;
    width: 100%;
    /* height: 100vh; */
    text-align: center;
    color: white;
    background: linear-gradient(135deg, #f43900, #ff6f00);
    font-size: 1.5rem;
    flex-shrink: 0; /* Impede redução */
    bottom: 64px;
    font-size: 1.5rem;
    bottom: 0;

}