
body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background: linear-gradient(to bottom, #f43900, #ff6f00);
    background-attachment: fixed;
    color: #000;
}

.titulo {
    text-align: center;
    margin-bottom: 30px;
}

.grade-produtos {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.produto {
    background: white;
    border-radius: 8px;
    padding: 15px;
    width: 250px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    transition: transform 0.3s ease;
    text-align: center;
}

.produto:hover {
    transform: scale(1.05);
}

.produto img {
    width: 100%;
    border-radius: 4px;
}

.info {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    font-weight: bold;
}

.botao-comprar {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #008000;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.2s ease;
}

.botao-comprar:hover {
    background-color: #005c00;
}
.banner-carousel {
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
